.action{
    padding: 30px 40px;
}
.action .title{
    color: #1f1463;
    position: relative;
}
.action .title::before{
    content: '';
    width: 120px;
    height: 2px;
    background: #1f1463;
    bottom: -15px;
    position: absolute;
    left: 0;
}
.action .title::after{
    content: '';
    width: 60px;
    background: #EC1B23;
    height: 6px;
    bottom: -17px;
    position: absolute;
    left: 0;
}
.main-cards{
    margin-top:40px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}
.cards .card{
    display: flex;
    align-items: center;
    background: white;
    min-height: 70px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    transition: all 0.5s;
}
.cards .card:hover{
    transform: scale(1.05);
    border: 1px solid #1F1463;
}

.cards .card .iconBox{
    background: #1F1463;
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-right: 10px;
}
.cards .card .text{
    font-size: 14px;
    max-width: 200px;
    font-weight: 500;
    color: #333;
}
@media(max-width:849px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin-top: 15px;
    }
}
@media (max-width:449px){
    .action{
        padding: 10px 20px;
        width: 100%;
    } 
    .cards{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-top: 15px;
    }
}